.App {
  text-align: center;
}

.img-meme{
  width: 100%;
}

.contenedor-meme{
  margin-top: 10px;
  position: relative;
  display: inline-flex;
}

.texto-linea{
  position: absolute;
  width: 100%;
  top: 10%;
  left: 10px;
  font-size: 38px;
  color: white;
  text-shadow: 2px 2px 2px #110101;
}

.texto-linea2{
  position: absolute;
  width: 100%;
  top: 80%;
  left: 10px;
  font-size: 38px;
  color: white;
  text-shadow: 2px 2px 2px #110101;
}

